body{
	background-image: url('../images/real1.jpg');
}


#menu{
	/*font-size: 40px;*/
	background: black !important; /* fallback color */
   	/*background: rgba(0, 0, 0, 0.7);*/
	position: fixed;
	z-index: 10; 
}

#menu a{
	color:white;
}

.myCaption {	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: rgb(0, 0, 0); /* fallback color */
   	background: rgba(0, 0, 0, 0.7);
   	
   	padding-top: 20px;
   	padding-left: 10px;
   	padding-right: 10px;
   	padding-bottom: 50px
   	font-size: 2.5vh;
   	color: white;
}

.myCaption h2{
	font-size: 5vh;
	text-shadow: 0px 0px 10px black;
	display:inline-block; 
	padding-left:30px;
	padding-right:30px;
}

#captionDiv{
	padding-bottom: 25px;
}


.active{
	color:red;
}